# Local workspace
.workspace/

# Editor settings
.vscode/
.idea/

# Environment
.env
.env.*

# Dependencies
vendor/
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmp
*.bak
*.swp


/config/config.local.php

# Test / Development Files
/TestConsole.php