# Local workspace
.workspace/

# Editor settings
.vscode/
.idea/

# Environment
.env
.env.*

# Dependencies
vendor/
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmp
*.bak
*.swp


/config/config.local.php

# Test / Development Files
/TestConsole.php
uploads/products/product_20260716_071114_0871bef32a9e462f.jpg
uploads/products/product_20260716_071133_667fc4ba0c6957d4.jpg
uploads/products/product_20260716_071157_8635d7d77f6cb8e2.webp
uploads/products/product_20260716_071545_609d966b4033a3a2.jpg
